<div class="dropdown" style="margin-top: 16px;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
     Menu
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/dashboard"><i class="bi-columns"></i> Dashboard</a></li>
      <li><a class="dropdown-item" href="/domain"><i class="bi-globe"></i> Domain</a></li>
      <li><a class="dropdown-item" href="/website"><i class="bi-hdd-network"></i> Website</a></li>
      <li><a class="dropdown-item" href="/database"><i class="bi-database"></i> MySQL Database</a></li>
      <li><a class="dropdown-item" href="/ssl"><i class="bi-patch-check"></i> SSL/TLS</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/ssh"><i class="bi-terminal"></i> Terminal</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
    </ul>
</div>