<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Terminal</title>
</head>

<body>
    <div id="terminal"></div>

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('output', function(data) {
            document.getElementById('terminal').innerText += data.output;
            document.getElementById('terminal').innerText += data.error;
        });

        function sendCommand() {
            var command = document.getElementById('command').value;
            socket.emit('command', command);
            document.getElementById('terminal').innerText += '> ' + command + '\n';
            document.getElementById('command').value = '';
        }
    </script>

    <input type="text" id="command" placeholder="Enter command" onkeydown="if (event.keyCode === 13) { sendCommand(); return false; }">
    <button onclick="sendCommand()">Send</button>
</body>

</html>
